{% load staticfiles %}
<!DOCTYPE html>
<!-- base.html -->
<html lang="pt-br">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href="https://fonts.googleapis.com/css?family=BenchNine:300" rel="stylesheet">
		<link rel="stylesheet" href={% static 'css/base.css' %}>

		<body>
		
		<div class="w3-row" style="margin-top: 1px; margin-bottom: 1px">
		
			<div class="w3-col w3-container w3-white" style="width: 10%">{% load static %}<div class="centro"><img src="{% static '/images/scramble.jpg' %}" width='63' heigth='110' class="img-rounded" /></div></div>
				
			<div class="w3-col w3-container w3-indigo" style="width: 60%">
				<div class="BenchNine">
				<div class="centro">Controle de Desenvolvimento - SCRAMBLE</div></div> 
			</div>
	
			<div class="w3-col w3-container w3-white" style="width: 20%">{% load static %}<div class="centro"><img src="{% static 'images/logoExpertise.png' %}" width='119' heigth='110' /></div></div>
		

		</div>
 		</body>

{% block content %}
{% endblock content %}



	</head>
</html>

