{% extends 'controle/base.html' %}
<!-- cd_form_new.html  -->


{% block content %}


{% load staticfiles %}
<link rel='stylesheet' href={% static 'css/forms.css' %}>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrap.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<head>

	<form method="POST" class="post-form">{% csrf_token %}

		<fieldset>
<!--
		<p>P = {{ cp }}</p>
		<p>CPOD = {{ nome_cpod }}</p>
		<p> CDFORM = {{ cdform }}</p>
-->
		<div>
		    {% for nm in nome_cpod %}
		    <legend>Cartão de Desenvolvimento Novo para Cartão: {{ nm }}</legend>
		    {% endfor %}
		    
		{% for field in cdform %}
		
		    <div class="row">
		    <div class="form-group">
			
			{% if field.errors %}
			    <fieldset class="error" >
			    <p>{{ field.help_text }}</p>
			    <p>{{ field.errors }}</p>
			    </fieldset>
			{% endif %}
		
			
			<label class="{% for class in field.label_classes %}{{ class }} {% endfor %}"
				for="{{ field.name }}">{{ field.label }}</label>

				{% if field.errors %}
				    <p><input class="error" {{ field }}></input></p>
				{% else %}
				    <p>{{ field }}</p>
				{% endif %}
		
			
			</div>
			</div>
			
		{% endfor %}

		</div>
		</fieldset>
		
		<fieldset>
		<div class="btn-group">	
			<a><button type="submit" class="btn btn-primary" >Salvar</button></a>
			<a href="{% url 'cp_list' %}"><button type="button" class="btn btn-primary">Lista de Cartões de Produção</button></a>
			<a href="#"><button type="button" class="btn btn-primary">Escopo</button></a>
			<a href="#"><button type="button" class="btn btn-primary">Cartão de Desenvolvimento</button></a>				
		</div>
		</fieldset>

	</form>
	
</head>


{% endblock %}
 
