{% extends 'controle/base.html' %}

<!-- cd_list.html -->


{% block content %}

{% load staticfiles %}
<head>
    <title>Scramble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href={% static 'css/cprod.css' %}>
    <link rel="stylesheet" href={% static 'css/button.css' %}>
    <link rel="stylesheet" href={% static 'css/sidemenu.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href={% static 'css/forms.css' %}>
</head>

<body>
    <fieldset>
    <div class="w3-container w3-light-blue" style="margin-bottom: 1px">
	<div class="FontCP"><p class="centrocp">Cartão de Desenvolvimento - Lista Completa</p></div>
    </div>
    </fieldset>

    <fieldset><div class="container">
    <ul class="nav nav-tabs" >
	<div style="overflow:auto; heigth: 500px">
	<table id="customers">
	<tr>
	<th>Cartão Desenv.</th>
	<th>Cartão Produção</th>
	<th>Desenvolvedor</th>
	<th>Descrição</th>
	<th>Data Des. Inicial</th>
	<th>Data Des. Final</th>
	<th>Participação</th>
	<th>Progresso</th>
	<th>Ítem Desenv.</th>
	<th>Apagar Cartão Desenvolvimento</th>
	</tr>
			
	{% for cd in CDes_list %}

	<tr>
	<td><a href="{% url 'cd_new' pk=cd.pk %}">{{ cd.nome_cd }}</a></td>
	<td>{{ cd.cpod }}</td>
	<td>{{ cd.desenvolvedor }}</td>
	<td>{{ cd.descricao }}</td>
	<td>{{ cd.data_des_ini }}</td>
	<td>{{ cd.data_des_fim }}</td>
	<td>{{ cd.participacao }}</td>
	<td>{{ cd.status}}</td>
	<td class="text-center"><a class="btn btn-info btn-xs"
				    href="{% url 'it_list_cd' pro=cd.pk %}">
				    <span class="glyphicon glyphicon-th-list"></span></a></td>
	<td class="text-center"><a class="btn btn-info btn-xs" 
					href="{% url 'cd_delete' pk=cd.pk %}">
					<span class="glyphicon glyphicon-remove"></span></a></td>
	
	</tr>
	
	{% endfor %}
	</table>
	</div>
    </ul>
    </div></fieldset>

</body>


{% endblock content %}

