{% extends 'controle/base.html' %}
<!-- cp_form_new.html -->


{% block content %}


{% load staticfiles %}
<link rel='stylesheet' href={% static 'css/forms.css' %}>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrap.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<html>
<head>
<!--
<div class="container">

	<form name="CPForm" id="CPForm" data-toggle= "validator" role="form" action="" method="get">
		<div class="row">
			<div class="col-xs-6 form-group">
			<label for="client">Cartão</label>
			<input type="text" id="cliente" name="cliente" class="form-control">
		</div>

	</form>

</div>
-->



	<form method="POST" class="post-form">{% csrf_token %}

		<fieldset>
		<div>
		<legend>Cadastro de Cartão de Produção - Novo</legend>
		

		{% for field in cpform %}

			<div class="row">
			<div class="form-group">

			<label class="{% for class in field.label_classes %}{{ class }} {% endfor %}"
				for="{{ field.name }}">{{ field.label }}</label>


				<p>{{ field }}</p>
			
			</div>
			</div>
	
		{% endfor %}
			<input type="submit" value="Submit"/>
			<a><button type="submit" class="btn btn-info" >Salvar</button></a>
		</div>
		</fieldset>

		<fieldset>
		<div class="btn-group">	
			<a><button type="submit" class="btn btn-info" >Salvar</button></a>
			<a href="{% url 'cpod_list' %}"><button type="button" class="btn btn-info">Lista de Cartões de Produção</button></a>
			<a href="{% url 'es_list' %}"><button type="button" class="btn btn-info">Escopo</button></a>
			<a href="{% url 'cd_list' %}"><button type="button" class="btn btn-info">Cartão de Desenvolvimento</button></a>				
		</div>
		</fieldset>

	</form>


	<form action="" method="POST">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="submit"/>
	</form>
		






</head>
</html>


{% endblock %}
 
