{% extends 'controle/base.html' %}

<!-- es_list.html -->


{% block content %}

{% load staticfiles %}
<head>
    <title>Scramble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href={% static 'css/cprod.css' %}>
    <link rel="stylesheet" href={% static 'css/button.css' %}>
    <link rel="stylesheet" href={% static 'css/sidemenu.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href={% static 'css/forms.css' %}>
</head>

<body>
    <fieldset>
    <div class="w3-container w3-light-blue" style="margin-bottom: 1px">
	<div class="FontCP"><p class="centrocp">Escopo - Lista Completa</p></div>
    </div>
    </fieldset>

    <fieldset><div class="container">
    <ul class="nav nav-tabs" >
	<div style="overflow:auto; heigth: 500px">
	<table id="customers">
	<tr>
	<th>Escopo</th>
	<th>Descrição</th>
	<th>Apagar Escopo</th>
	</tr>
			
	{% for es in ES_list %}

	<tr>
	<td><a href="{% url 'es_edit' pk=es.pk %}">{{ es.nome_escopo }}</a></td>
	<td>{{ es.descricao }}</td>
	<td class="text-center"><a class="btn btn-info btn-xs"
					onclick="return confirm('Gostaria de deletar este Escopo?')"
					href="{% url 'es_delete' pk=es.pk escopo=es.cpod_id  %}">
					<span class="glyphicon glyphicon-trash"></span></a></td>
	
	</tr>
	
	{% endfor %}
	</table>
	</div>
    </ul>
    </div></fieldset>

</body>


{% endblock content %}

