{% load staticfiles%}
{% load latexify%}

<! DOCTYPE html> 
< html  lang = "pt" > 
< head > 
    < meta  charset = "UTF-8" > 
    < título > Meu blog de matemática </ title >
    {% include 'latexify / stylesheets.html'%}
</ head >

< body > 
    < h2 > Bem-vindo ao meu blog de matemática </ h2 >

    < p > {% latixfy 'Meu látex como texto simples'%} </ p >

    < p > Minha matemática interna {% latixfy 'e = mc ^ 2' inline_math = True%} </ p >

    < p > Meu bloco de matemática {% latixfy 'e = mc ^ 2' block_math = True%} </ p >


    {% include "latexify / scripts.html"%}
</ body > 
</ html >
