{%  extends 'controle/base.html' %}
 
<!-- teste.html -->

{% load staticfiles %}

{% block content %}

<html>
	<head>
		<title>Novo</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
 		<link rel="stylesheet" href={% static 'css/cprod.css' %}> 
		<link rel="stylesheet" href={% static 'css/sidemenu.css' %}>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	</head>

	<body>

<div class="row">
<div class="nav-side-menu col-sm-3">
    <div class="brand">Cartão de Produção</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">
  
        	<ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i>UI Elements<span class="arrow"></span></a>
                </li>
<!--  recuperar dados -->
			
                <ul class="sub-menu collapse" id="products">
		    {% for cp in cpd %} 
                <!--    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li> -->
                    <li><a href="{% url 'cp_new' pk=cp.pk %}">{{ cp.nome_cp }}</a></li> 
<!--		    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li> -->
		    {% endfor %}
				</ul>
	

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li class="active"><a href="#">New Service 1</a></li>
                  <li><a href="#">New Service 2</a></li>
                  <li><a href="#">New Service 3</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                 </li>

            </ul>
     	</div>
</div>









		<div class="container col-sm-9">
			<h2>Dynamic Tabs</h2>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
				<li><a data-toggle="tab" href="#menu1">Menu1</a></li>
				<li><a data-toggle="tab" href="#menu2">Menu2</a></li>
				<li><a data-toggle="tab" href="#menu3">Menu3</a></li>
			</ul>
		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<h3>HOME</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua.</p>
    			</div>
    			<div id="menu1" class="tab-pane fade">
      				<h3>Menu 1</h3>
      				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    			</div>
    			<div id="menu2" class="tab-pane fade">
      				<h3>Menu 2</h3>
      				<p>Sed ut perspiciatis unde omnis iste natus error sit doloremque laudantium, totam rem aperiam.</p>
   			</div>
    			<div id="menu3" class="tab-pane fade">
      				<h3>Menu 3</h3>
      				<p>Eaque ipsa quae ab illo inventore veritatis et architecto beatae vitae dicta sunt explicabo.</p>
			</div>
		</div>
		</div>	


</div>
	</body>



</html>


{% endblock content %}
