{% extends 'controle/base.html' %}

<!-- cp_list.html -->

{% block content %}

{% load staticfiles %}
<html>
	<head>
		<title>Cartão de Produção</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
       	<link rel="stylesheet" href={% static 'css/cprod.css' %}>
		<link rel="stylesheet" href={% static 'css/button.css' %}>
		<link rel="stylesheet" href={% static 'css/sidemenu.css' %}>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<body>

	<div class="w3-container w3-light-blue" style="margin-bottom: 1px">
		<div class="FontCP"><p class="centrocp">Cartão de Produção</p></div>
	</div>

<div class="w3-panel w3-border" style="margin: 2px"><!-- <div class="container col-sm-12">   -->	

	<div class="nav-side-menu col-sm-2">
		<div class="brand">Filtros</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
			<div class="menu-list">
			<ul id="menu-content" class="menu-content collapse out">
			


				<li data-toggle="collapse"
					data-target="#projects"
					class="collapsed">
					<a href="#"><i class="fas fa-project-diagram fa-lg"></i>   Projeto<span class="arrow"></span></a>
				</li>
					<ul class="sub-menu collapse" id="projects">
					{% regroup CProducao_list|dictsort:"projeto" by projeto as list_cp %}
						{% for cps in list_cp %}
						<li><a href="{% url 'cp_listview' proj=cps.grouper %}">{{ cps.grouper }}</a></li>
						{% endfor %}
					</ul>


				<li data-toggle="collapse" data-target="#products" class="collapsed">
				<a href="#"><i class="fa fa-group fa-lg"></i>       Desenvolvedor<span class="arrow"></span></a>
				</li>
					<ul class="sub-menu collapse" id="products">
					{% regroup CDesenvolvimento_list by desenvolvedor as des_list %}
						{% for des in des_list %}
						<li><a href="{% url 'cpod_list' %}">{{ des.grouper }}</a></li>
					{% endfor %}
					</ul>

			</ul>
			</div>
	</div>



			<div "col-sm-2" style="overflow:auto; height: 500px ">
		

				<table id="customers">
					<tr>
					<th>Nome</th>
					<th>Projeto</th>
					<th>Data Inicial</th>
					<th>Data Final</th>
					<th>Data Des. Inicial</th>
					<th>Data Des. Final</th>
					<th>Progresso</th>
					<th>Teste pk</th>
					</tr>
		{% for cp in CProducao_list %}
					<tr>
					<td><a href="{% url 'cp_new' pk=cp.pk %}">{{ cp.nome_cp }}</a></td>
					<td><a href="{% url 'cp_listview' proj=cp.pk %}">{{ cp.projeto }}</a></td>
					<td>{{ cp.data_ini|date:"d/m/y" }}</td>
					<td>{{ cp.data_fim }}</td>
					<td>{{ cp.data_des_ini }}</td>
					<td>{{ cp.data_des_fim }}</td>
					<td>{{ cp.status }}</td>
					<td>{{ cp.pk }}</td>
					</tr>
		{% endfor %}
				</table>
			</div>  
			


</div>

</body>
</html>

{% endblock content %}



<!--
<div class="btn-group-vertical col-sm-3" border="2px">
<div class="dropdown">

	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
		Filtro Produção<span class="caret"></span>
	</button>
		
	<ul class="dropdown-menu">

		<li><a href="controle/cpod_list?activeTab=#tab2" data-toggle="tab">Nome</a></li>



		<li><a data-toggle="tab" href="#tab3" data-open-tab="#tab3">Nome1</a></li>
		

		<li><a href="#">Another Action</a></li>
		<li class="divider"></li>
		<li><a href="#">Something else here</a></li>
	</ul>
</div>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Filtro Desenvolvimento<span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
		<li><a href="#">qqqqqqAction</a></li>
        <li><a href="#">Another Action</a></li>
        <li class="divider"></li>
        <li><a href="#">Something else here</a></li>
    </ul>
</div>

<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Filtro Desenvolvedor<span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
    	<li><a href="#">Actioniiiiiiiqqqqq</a></li>
        <li><a href="#">Another Action</a></li>
        <li class="divider"></li>
        <li><a href="#">Something else here</a></li>
	</ul>
</div>

</div>
-->
