/*cpod_list.css*/

/* APAGAR */


body{
	padding-left: 15px;
}



#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
#customers td, #customers th {
    	border: 1px solid #ddd;
	padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:hover {background-color: #ddd;}
#customers th {
	background-color: #4CAF50;
   	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}

#barra {
	font-family: 'BenchNine', sans-serife;
	color: #3F51B5;
	font-size: 20pt;
}
#barra ul, #barra ul a {
	height: 55px;
	margin: 0 auto;
	vertical-align: middle;
	line-height: 55px;
	white-space: nowrap;
}



div.FontCP{
	font-family: 'BenchNine', sans-serife;
	color: #3F51B5;
	font-size: 20pt;
}




p.centrocp{
	height: 55px;
	margin: 0 auto;
  	vertical-align: middle;
	line-height: 55px; 
	white-space: nowrap;
}

