/* cprod.css */


h1 a {
	color: #FCA205;
	font-family: 'Ruluko', sans-serif;
}

body {
	padding-left: 15px;
}
span.titulo {
	color: #FFFF00;
	font-size: 44px; 
}


/*Style para a barra lateral */

#mySidenav a{
	position: absolute;
	left: -130px;
	transition: 0.3s;
	padding: 15px;
	width: 170px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
	left: 0;
}

#Des {
	top: 20px;
	background: #4CAF50;
}
#CP {
	top: 80px;
	background: #2196F3;
}
#CD {
	top: 140px;
	background-color: #F44336;
}
#Tar {
	top: 220px;
	background-color:#555
}

ul.a {list-style-type: circle;}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
    	border: 1px solid #ddd;
	padding: 8px;
}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}
#customers th {
	background-color: #4CAF50;
   	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}



div.FontCP{
	font-famiily: 'BenchNine', sans-serife;
	color: #3F51B5;
	font-size: 20pt;
}




p.centrocp{
	height: 55px;
	margin: 0 auto;
  	vertical-align: middle;
	line-height: 55px;
	white-space: nowrap;
}


p strong{
    background-color: #87CEEB;
}

p>strong{
    background-color: #ffc;
}

